<div class="w3-bar w3-theme-light w3-large">
    <button href="{% url 'users:logout' %}" class="w3-bar-item w3-button w3-padding-large w3-right w3-dark-gray"
        style="display: flex; align-items: center;"><i class="material-icons-sharp">logout</i></button>
    <div class="w3-dropdown-hover w3-right">
        <button class="w3-button w3-theme w3-hover-black w3-padding-large"
            style="display: flex; align-items: center;"><i class="material-icons-sharp">manage_accounts</i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right: 0; position: absolute;">
            <a href="#" class="w3-bar-item w3-button w3-medium">ຂໍ້ມູນບຸກຄົນ</a>
            <a href="#" class="w3-bar-item w3-button w3-medium">ການຕັ້ງຄ່າ</a>
            <a href="#" class="w3-bar-item w3-button w3-medium">ປ່ຽນລະຫັດຜ່ານ</a>
        </div>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hover-black w3-padding-large">ບົດລາຍງານ</a>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hover-black w3-padding-large">ການຝຶກອົບຮົມ</a>
    <div class="w3-dropdown-hover w3-right">
        <button class="w3-button w3-hover-black w3-padding-large"
            style="display: flex; align-items: center;">ຜູ້ສະໜອງປະກັນ<i class="material-icons-outlined">expand_more</i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button w3-medium">ນາຍໜ້າ</a>
            <a href="#" class="w3-bar-item w3-button w3-medium">ຕົວແທນ</a>
            <a href="#" class="w3-bar-item w3-button w3-medium">ບໍລິສັດ</a>
        </div>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hover-black w3-padding-large">ຜູ້ຊື້ປະກັນ</a>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hover-black w3-padding-large">ລະຫັດ QR</a>
    <a href="#" class="w3-bar-item w3-button w3-right w3-hover-black w3-padding-large">ຂາຍປະກັນ</a>
</div>
